/* I copied over my styles from project 3 */

html {
  font-size: 62.5%;
  /* 1 rem = 10px */
  display: grid;
  place-items: center;
}

body {
  width: 418px;
  background-color: #08080d;
}

.header {
  margin: 3.2rem 0;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 4rem;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #e2e2ee;
  margin: 0;
}

p {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #a0a0b8;
  font-size: 1.2rem;
  margin: 8px 4px;
}

form {
  background-color: #141420;
  border-radius: 4px;
  padding: 2.4rem;
}

label {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #a0a0b8;
  font-size: 1.2rem;
  padding: 1rem;
}

.input {
  box-sizing: border-box;
  width: 100%;
  background-color: #141420;
  border: none;
  border-bottom: 0.25px solid #e2e2ee;
  color: #e2e2ee;
  padding: 12px;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
  padding: 1.2rem 0 1rem 0;
  margin-bottom: 3.2rem;
}

input::placeholder {
  color: #6b6b88;
}

/* I adapted the below input-group and validation-icon code from Google */

.input-group {
  position: relative;
  /* display: inline-block; */
}

.validation-icon {
  position: absolute;
  right: 0;
  top: 1rem;
  display: none;
}

input:user-valid {
  border-bottom: 0.25px solid #22d3ee;
}

input:user-invalid {
  border-bottom: 0.25px solid #f43f5e;
}

/* Toggle icon display and content based on input state */
input:user-valid + .validation-icon {
  display: inline-block;
  color: #22d3ee;
}
input:user-valid + .validation-icon::before {
  content: "\f058";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 1.2rem;
}

input:user-invalid + .validation-icon {
  display: inline-block;
  color: #f43f5e;
}
input:user-invalid + .validation-icon::before {
  content: "\f057";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 1.2rem;
}

.input:focus {
  outline: none;
  border-bottom-color: #22d3ee;
}

input[type="submit"] {
  box-sizing: border-box;
  width: 100%;
  background-color: #22d3ee;
  color: #08080d;
  padding: 12px;
  font-family: "Outfit", sans-serif;
  font-size: 1.6rem;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  border: none;
  border-radius: 4px;
}

.top-text {
  font-family: "Outfit", sans-serif;
  font-size: 2.4rem;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #e2e2ee;
  margin: 0;
  text-shadow: 0 4px 12px #08080d;
}

.bottom-text {
  font-family: "Outfit", sans-serif;
  font-size: 2.4rem;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #e2e2ee;
  margin: 0;
  text-shadow: 0 4px 12px #08080d;
}

button {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  border: none;
  background-color: transparent;
  font-size: 2.4rem;
  color: #e2e2ee;
  margin: 0;
  text-shadow: 0 4px 12px #08080d;
}

.meme {
  position: relative;
  padding: 2.4rem;
  margin: 3.2rem 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* width: 100%; */
  /* aspect-ratio: 16/9; */
  border-radius: 4px;
}
